* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-size: normal;
  font-family: "Poppins", sans-serif;
  background-image: url();
}
a {
  text-decoration: none;
  color: inherit;
}
/* top-bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}
.top-bar h1 {
  font-size: 28px;
  font-weight: 700;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul li a:hover {
  color: #ff6600;
  transition: 0.3s;
}
/* section-1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
}
.section-1 h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding: 30px;
}
.section-1 .text p {
  font-size: 20px;
  padding: 30px;
  margin-top: 20px;
}
.section-1 .photo img {
  height: 250px;
  object-fit: cover;
  margin-right: 100px;
}
.section-1 .question {
  padding: 30px;
  margin-top: 20px;
}
/* about-us */
.about-us-section span {
  color: #ff6600;
}
.about-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 40px;
  gap: 40px;
}
.about-us-section .photo {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 100px;
  border-radius: 5px;
}
.about-us-section h2 {
  font-size: 40px;
  margin-top: 20px;
}
.about-us-section p {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.8;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-bar h1 {
    font-size: 25px;
  }
  .section-1 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-1 .text h1 {
    font-size: 25px;
    padding: 10px;
  }
  .section-1 .photo img {
    height: 200px;
    margin-top: 20px;
    margin-right: 0;
  }
  .about-us-section {
    flex-direction: column;
    text-align: center;
  }
  .about-us-section .photo img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
  }
}

section {
  height: 100vh;
}
