* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-size: normal;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
/* top-bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: lightgray;
  opacity: 1;
}
.top-bar h1 {
  font-size: 28px;
  font-weight: 700;
}
.top-bar {
  flex: 1;
  text-align: right;
}
.top-bar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-weight: 500;
}
ul li a:hover {
  color: #ff6600;
  transition: 0.2s;
}
/* section-1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
}
.section-1 h1 {
  font-size: 50px;
  margin-top: 20px;
  padding: 30px;
}
.section-1 .text p {
  font-size: 20px;
  padding: 30px;
  margin-top: 20px;
}
.section-1 .photo img {
  height: 250px;
  object-fit: cover;
  margin-right: 100px;
}

/* about-us */
.about-us-section span {
  color: #ff6600;
}
.about-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 40px;
  gap: 40px;
}
.about-us-section .photo {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 100px;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .about-us-section .photo {
  }
}

.about-us-section h2 {
  font-size: 40px;
  margin-top: 20px;
}
.about-us-section p {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.8;
  margin-top: 20px;
}
/* services-section */
.services-section {
  padding: 40px;
  margin-top: 20px;
}
.services-section .services-text {
  text-align: center;
  margin-bottom: 30px;
}
.services-section span {
  color: #ff6600;
  line-height: 5;
}
.services-section h2 {
  font-size: 40px;
}
.services-section p {
  font-size: 13px;
  font-weight: 100;
  line-height: 22px;
  padding: 10px;
}
.services-section h3 {
  text-align: center;
}
.cells {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.cells .cell {
  flex-basis: 31%;
  background: lightgray;
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transform: 0.2s;
  margin: 10px;
}
.cells .cell:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* contact-section */

@media (max-width: 800px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-bar h1 {
    font-size: 25px;
  }
  /* section-1 */
  .section-1 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-1 .text h1 {
    font-size: 25px;
    padding: 10px;
  }
  .section-1 .photo img {
    height: 200px;
    margin-top: 20px;
    margin: 0 auto;
  }
  /* about-us-section */
  .about-us-section {
    flex-direction: column;
    text-align: center;
  }
  .about-us-section h2 {
    font-size: 20px;
  }
  .about-us-section {
    display: block;
    /* margin: 20px auto;
    max-width: 100%;
    height: auto;
    background-color: red; */
    background-color: red;
  }
  /* service-section */
  .services-section h2 {
    font-size: 20px;
  }
  .cells {
    flex-direction: column;
  }
}

section {
  height: 100vh;
}
